{% extends 'base.html' %}

{% block title %}
<title> view student details </title>
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Details of {{data.name}}</h2>
    <table class="table mt-5">
        <thead>
            <tr class="row">
                <th class="col-4">Roll Number</th>
                <th class="col-4">Name</th>
                <th class="col-2">DOB</th>
                <th class="col-1">Marks</th>
                <th Class="col-1">Grade</th>
            </tr>
        </thead>
        <tbody>
        {% if data %}
                    <tr class="row">
                    <th class="col-4">{{data.id}}|{{data.rollnumber}}</th>
                    <td class="col-4">{{data.name}}</a></td>
                    <td class="col-2">{{data.DOB}}</td>
                    <td class="col-1">{{data.marks}}</td>
                    <td class="col-1">{{data.grade}}</td>
                    </tr>
    {% endif %}
   </tbody>
    </table>
        <center><a href="{% url 'StudentDetails' %}"><button class="btn btn-primary bg-dark mt-5">Back</button></a></center>
</div>
{% endblock content %}